In [1]:
from imports import *

# ACQUIRE

In [2]:
# Acquire data from SQL using module found in wrangle.py
df = wrangle.get_zillow()
# Obtain number of rows and columns for orginal dataframe
df.shape

Reading from csv file...

(77381, 67)

In [3]:
def missing_values_per_column(df):
# identifies nulls by column, creates a dataframe to display counts and percent of nulls by column
    missing_in_columns = pd.concat([
        df.isna().sum().rename('count').sort_values(ascending = False),
        df.isna().mean().rename('percent')
    ], axis=1)
    return missing_in_columns

In [4]:
missing_values_per_column(df)

                              count              percent
buildingclasstypeid           77366                 1.00
buildingclassdesc             77366                 1.00
finishedsquarefeet13          77340                 1.00
basementsqft                  77331                 1.00
storydesc                     77331                 1.00
storytypeid                   77331                 1.00
yardbuildingsqft26            77311                 1.00
fireplaceflag                 77209                 1.00
architecturalstyletypeid      77175                 1.00
architecturalstyledesc        77175                 1.00
typeconstructiontypeid        77159                 1.00
typeconstructiondesc          77159                 1.00
finishedsquarefeet6           76995                 1.00
pooltypeid10                  76917                 0.99
decktypeid                    76767                 0.99
poolsizesum                   76514                 0.99
pooltypeid2                   76307                 0.99
hashottuborspa                75843                 0.98
yardbuildingsqft17            74993                 0.97
taxdelinquencyflag            74495                 0.96
taxdelinquencyyear            74495                 0.96
finishedsquarefeet15          74372                 0.96
finishedsquarefeet50          71358                 0.92
finishedfloor1squarefeet      71358                 0.92
fireplacecnt                  69105                 0.89
threequarterbathnbr           67285                 0.87
pooltypeid7                   62339                 0.81
poolcnt                       61244                 0.79
numberofstories               59821                 0.77
airconditioningdesc           52428                 0.68
airconditioningtypeid         52428                 0.68
garagetotalsqft               51907                 0.67
garagecarcnt                  51907                 0.67
regionidneighborhood          46491                 0.60
heatingorsystemtypeid         27941                 0.36
heatingorsystemdesc           27941                 0.36
buildingqualitytypeid         27709                 0.36
propertyzoningdesc            27050                 0.35
unitcnt                       26818                 0.35
lotsizesquarefeet              8239                 0.11
finishedsquarefeet12           3632                 0.05
regionidcity                   1471                 0.02
calculatedbathnbr               609                 0.01
fullbathcnt                     609                 0.01
yearbuilt                       263                 0.00
censustractandblock             244                 0.00
calculatedfinishedsquarefeet    196                 0.00
structuretaxvaluedollarcnt      112                 0.00
regionidzip                      50                 0.00
taxamount                         5                 0.00
landtaxvaluedollarcnt             2                 0.00
taxvaluedollarcnt                 1                 0.00
logerror                          0                 0.00
transactiondate                   0                 0.00
propertylandusedesc               0                 0.00
parcelid                          0                 0.00
assessmentyear                    0                 0.00
roomcnt                           0                 0.00
regionidcounty                    0                 0.00
rawcensustractandblock            0                 0.00
propertycountylandusecode         0                 0.00
longitude                         0                 0.00
latitude                          0                 0.00
fips                              0                 0.00
bedroomcnt                        0                 0.00
bathroomcnt                       0                 0.00
propertylandusetypeid             0                 0.00

In [5]:
def remove_columns(df, cols_to_remove = ['censustractandblock','finishedsquarefeet12','buildingqualitytypeid', 'heatingorsystemtypeid', 'propertyzoningdesc', 'heatingorsystemdesc', 'unitcnt']):
#removes columns that will not be used in the exploration and modeling phases of the pipeline
    df = df.drop(columns=cols_to_remove)
    return df

In [6]:
df = remove_columns(df, cols_to_remove = ['censustractandblock','finishedsquarefeet12','buildingqualitytypeid', 'heatingorsystemtypeid', 'propertyzoningdesc', 'heatingorsystemdesc', 'unitcnt'])
df.head().T

,0,1,2,3,4
parcelid,14297519,17052889,14186244,12177905,10887214
airconditioningtypeid,NaN,NaN,NaN,NaN,1.00
architecturalstyletypeid,NaN,NaN,NaN,NaN,NaN
basementsqft,NaN,NaN,NaN,NaN,NaN
bathroomcnt,3.50,1.00,2.00,3.00,3.00
bedroomcnt,4.00,2.00,3.00,4.00,3.00
buildingclasstypeid,NaN,NaN,NaN,NaN,NaN
calculatedbathnbr,3.50,1.00,2.00,3.00,3.00
decktypeid,NaN,NaN,NaN,NaN,NaN
finishedfloor1squarefeet,NaN,"1,465.00",NaN,NaN,NaN
calculatedfinishedsquarefeet,"3,100.00","1,465.00","1,243.00","2,376.00","1,312.00"
finishedsquarefeet13,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet15,NaN,NaN,NaN,NaN,NaN
finishedsquarefeet50,NaN,"1,465.00",NaN,NaN,NaN
finishedsquarefeet6,NaN,NaN,NaN,NaN,NaN
fips,"6,059.00","6,111.00","6,059.00","6,037.00","6,037.00"
fireplacecnt,NaN,1.00,NaN,NaN,NaN
fullbathcnt,3.00,1.00,2.00,3.00,3.00
garagecarcnt,2.00,1.00,2.00,NaN,NaN
garagetotalsqft,633.00,0.00,440.00,NaN,NaN
hashottuborspa,NaN,NaN,NaN,NaN,NaN
latitude,"33,634,931.00","34,449,266.00","33,886,168.00","34,245,180.00","34,185,120.00"
longitude,"-117,869,207.00","-119,281,531.00","-117,823,170.00","-118,240,722.00","-118,414,640.00"
lotsizesquarefeet,"4,506.00","12,647.00","8,432.00","13,038.00","278,581.00"
poolcnt,NaN,NaN,1.00,1.00,1.00
poolsizesum,NaN,NaN,NaN,NaN,NaN
pooltypeid10,NaN,NaN,NaN,NaN,NaN
pooltypeid2,NaN,NaN,NaN,NaN,NaN
pooltypeid7,NaN,NaN,1.00,1.00,1.00
propertycountylandusecode,122,1110,122,0101,010C
propertylandusetypeid,261.00,261.00,261.00,261.00,266.00
rawcensustractandblock,"60,590,630.07","61,110,010.02","60,590,218.02","60,373,001.00","60,371,236.01"
regionidcity,"53,571.00","13,091.00","21,412.00","396,551.00","12,447.00"
regionidcounty,"1,286.00","2,061.00","1,286.00","3,101.00","3,101.00"
regionidneighborhood,NaN,NaN,NaN,NaN,"268,548.00"
regionidzip,"96,978.00","97,099.00","97,078.00","96,330.00","96,451.00"
roomcnt,0.00,5.00,6.00,0.00,0.00
storytypeid,NaN,NaN,NaN,NaN,NaN
threequarterbathnbr,1.00,NaN,NaN,NaN,NaN
typeconstructiontypeid,NaN,NaN,NaN,NaN,NaN
yardbuildingsqft17,NaN,NaN,NaN,NaN,NaN
yardbuildingsqft26,NaN,NaN,NaN,NaN,NaN
yearbuilt,"1,998.00","1,967.00","1,962.00","1,970.00","1,964.00"
numberofstories,NaN,1.00,1.00,NaN,NaN
fireplaceflag,NaN,NaN,NaN,NaN,NaN
structuretaxvaluedollarcnt,"485,713.00","88,000.00","85,289.00","108,918.00","73,681.00"
taxvaluedollarcnt,"1,023,282.00","464,000.00","564,778.00","145,143.00","119,407.00"
assessmentyear,"2,016.00","2,016.00","2,016.00","2,016.00","2,016.00"
landtaxvaluedollarcnt,"537,569.00","376,000.00","479,489.00","36,225.00","45,726.00"
taxamount,"11,013.72","5,672.48","6,488.30","1,777.51","1,533.89"
taxdelinquencyflag,NaN,NaN,NaN,NaN,NaN
taxdelinquencyyear,NaN,NaN,NaN,NaN,NaN
logerror,0.03,0.06,0.01,-0.10,0.01
transactiondate,2017-01-01,2017-01-01,2017-01-01,2017-01-01,2017-01-01
airconditioningdesc,NaN,NaN,NaN,NaN,Central
architecturalstyledesc,NaN,NaN,NaN,NaN,NaN
buildingclassdesc,NaN,NaN,NaN,NaN,NaN
propertylandusedesc,Single Family Residential,Single Family Residential,Single Family Residential,Single Family Residential,Condominium
storydesc,NaN,NaN,NaN,NaN,NaN
typeconstructiondesc,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(77381, 60)

In [8]:
missing_values_per_column(df)

                              count              percent
buildingclasstypeid           77366                 1.00
buildingclassdesc             77366                 1.00
finishedsquarefeet13          77340                 1.00
basementsqft                  77331                 1.00
storydesc                     77331                 1.00
storytypeid                   77331                 1.00
yardbuildingsqft26            77311                 1.00
fireplaceflag                 77209                 1.00
architecturalstyletypeid      77175                 1.00
architecturalstyledesc        77175                 1.00
typeconstructiondesc          77159                 1.00
typeconstructiontypeid        77159                 1.00
finishedsquarefeet6           76995                 1.00
pooltypeid10                  76917                 0.99
decktypeid                    76767                 0.99
poolsizesum                   76514                 0.99
pooltypeid2                   76307                 0.99
hashottuborspa                75843                 0.98
yardbuildingsqft17            74993                 0.97
taxdelinquencyflag            74495                 0.96
taxdelinquencyyear            74495                 0.96
finishedsquarefeet15          74372                 0.96
finishedfloor1squarefeet      71358                 0.92
finishedsquarefeet50          71358                 0.92
fireplacecnt                  69105                 0.89
threequarterbathnbr           67285                 0.87
pooltypeid7                   62339                 0.81
poolcnt                       61244                 0.79
numberofstories               59821                 0.77
airconditioningtypeid         52428                 0.68
airconditioningdesc           52428                 0.68
garagecarcnt                  51907                 0.67
garagetotalsqft               51907                 0.67
regionidneighborhood          46491                 0.60
lotsizesquarefeet              8239                 0.11
regionidcity                   1471                 0.02
fullbathcnt                     609                 0.01
calculatedbathnbr               609                 0.01
yearbuilt                       263                 0.00
calculatedfinishedsquarefeet    196                 0.00
structuretaxvaluedollarcnt      112                 0.00
regionidzip                      50                 0.00
taxamount                         5                 0.00
landtaxvaluedollarcnt             2                 0.00
taxvaluedollarcnt                 1                 0.00
transactiondate                   0                 0.00
propertylandusedesc               0                 0.00
logerror                          0                 0.00
parcelid                          0                 0.00
assessmentyear                    0                 0.00
roomcnt                           0                 0.00
regionidcounty                    0                 0.00
rawcensustractandblock            0                 0.00
propertycountylandusecode         0                 0.00
longitude                         0                 0.00
latitude                          0                 0.00
fips                              0                 0.00
bedroomcnt                        0                 0.00
bathroomcnt                       0                 0.00
propertylandusetypeid             0                 0.00

- Observation:
Willl drop columns with more than 60% missing

In [9]:
def missing_values_per_row(df):
# identifies nulls by row, creates a dataframe to display counts and percent of nulls by row
    missing_in_rows = pd.concat([
        df.isna().sum(axis=1).rename('n_cols_missing'),
        df.isna().mean(axis=1).rename('percent_missing'),
        ], axis=1).value_counts().to_frame(name='row_counts').sort_index().reset_index()
 
    return missing_in_rows

In [10]:
missing_values_per_row(df)

    n_cols_missing      percent_missing  row_counts
0               19                 0.32           2
1               20                 0.33           5
2               21                 0.35          24
3               22                 0.37          98
4               23                 0.38         311
5               24                 0.40         485
6               25                 0.42         570
7               26                 0.43        1073
8               27                 0.45        2855
9               28                 0.47        3948
10              29                 0.48        8076
11              30                 0.50        6419
12              31                 0.52       13858
13              32                 0.53       14967
14              33                 0.55       13503
15              34                 0.57       10371
16              35                 0.58         536
17              36                 0.60          88
18              37                 0.62          30
19              38                 0.63          92
20              39                 0.65          59
21              40                 0.67           6
22              41                 0.68           3
23              42                 0.70           2

In [11]:
def handle_missing_values(df, prop_required_column = .5, prop_required_row = .5):
# Drops missing values based upon a set threshold. It filters columns first and then rows, dropping columns and then rows with >= 50% missing values. 
    threshold = int(round(prop_required_column*len(df.index),0))
    df.dropna(axis=1, thresh=threshold, inplace=True)
    threshold = int(round(prop_required_row*len(df.columns),0))
    df.dropna(axis=0, thresh=threshold, inplace=True)
    return df

In [12]:
df = handle_missing_values(df, prop_required_column = .5, prop_required_row = .5)
df.shape

(77381, 26)

In [13]:
def data_prep(df, prop_required_column=.5, prop_required_row=.5):
    
    df = handle_missing_values(df, prop_required_column, prop_required_row)
   
    # Make categorical column for location based upon the name of the county that belongs to the cooresponding state_county_code (fips code)
    df['county_code_bin'] = pd.cut(df.fips, bins=[0, 6037.0, 6059.0, 6111.0], 
                             labels = ['Los Angeles County', 'Orange County',
                             'Ventura County'])
   
    # Make dummy columns for state_county_code using the binned column for processin gin modeling later. 
    dummy_df = pd.get_dummies(df[['county_code_bin']], dummy_na=False, drop_first=[True])
    
    # Add dummy columns to dataframe
    df = pd.concat([df, dummy_df], axis=1)

    # Make categorical column for square_feet.
    df['home_sizes'] = pd.cut(df.calculatedfinishedsquarefeet, bins=[0, 1800, 4000, 6000, 25000], 
                             labels = ['Small: 0 - 1799sqft',
                             'Medium: 1800 - 3999sqft', 'Large: 4000 - 5999sqft', 'Extra-Large: 6000 - 25000sqft'])
    
    # Make categorical column for total_rooms, combining number of bedrooms and bathrooms.
    df['total_rooms'] = df['bedroomcnt'] + df['bathroomcnt']
    
    # Make categorical column for bedrooms.
    df['bedroom_bins'] = pd.cut(df.bedroomcnt, bins=[0, 2, 4, 6, 15], 
                             labels = ['Small: 0-2 bedrooms',
                             'Medium: 3-4 bedrooms', 'Large: 5-6 bedrooms', 'Extra-Large: 7-15 bedrooms'])
    
    # Make categorical column for square_feet.
    df['bathroom_bins'] = pd.cut(df.bathroomcnt, bins=[0, 2, 4, 6, 15], 
                             labels = ['Small: 0-2 bathrooms','Medium: 3-4 bathrooms', 'Large: 5-6 bathrooms', 
                                       'Extra-Large: 8-15 bathrooms'])
    df = df.dropna()
    print(df.shape)
    return df.head()

In [14]:
df = data_prep(df, prop_required_column=.5, prop_required_row=.5)
## This looks correct, but when I check the number of counts per column and row it shows 5 rows (see below).

(66937, 33)

In [15]:
df.county_code_bin.value_counts()

Los Angeles County    2
Orange County         2
Ventura County        1
Name: county_code_bin, dtype: int64

In [16]:
missing_values_per_column(df)

                                count              percent
parcelid                            0                 0.00
yearbuilt                           0                 0.00
bedroom_bins                        0                 0.00
total_rooms                         0                 0.00
home_sizes                          0                 0.00
county_code_bin_Ventura County      0                 0.00
county_code_bin_Orange County       0                 0.00
county_code_bin                     0                 0.00
propertylandusedesc                 0                 0.00
transactiondate                     0                 0.00
logerror                            0                 0.00
taxamount                           0                 0.00
landtaxvaluedollarcnt               0                 0.00
assessmentyear                      0                 0.00
taxvaluedollarcnt                   0                 0.00
structuretaxvaluedollarcnt          0                 0.00
roomcnt                             0                 0.00
bathroomcnt                         0                 0.00
regionidzip                         0                 0.00
regionidcounty                      0                 0.00
regionidcity                        0                 0.00
rawcensustractandblock              0                 0.00
propertylandusetypeid               0                 0.00
propertycountylandusecode           0                 0.00
lotsizesquarefeet                   0                 0.00
longitude                           0                 0.00
latitude                            0                 0.00
fullbathcnt                         0                 0.00
fips                                0                 0.00
calculatedfinishedsquarefeet        0                 0.00
calculatedbathnbr                   0                 0.00
bedroomcnt                          0                 0.00
bathroom_bins                       0                 0.00

In [17]:
missing_values_per_row(df)

   n_cols_missing      percent_missing  row_counts
0               0                 0.00           5

In [18]:
df.isna().sum()

parcelid                          0
bathroomcnt                       0
bedroomcnt                        0
calculatedbathnbr                 0
calculatedfinishedsquarefeet      0
fips                              0
fullbathcnt                       0
latitude                          0
longitude                         0
lotsizesquarefeet                 0
propertycountylandusecode         0
propertylandusetypeid             0
rawcensustractandblock            0
regionidcity                      0
regionidcounty                    0
regionidzip                       0
roomcnt                           0
yearbuilt                         0
structuretaxvaluedollarcnt        0
taxvaluedollarcnt                 0
assessmentyear                    0
landtaxvaluedollarcnt             0
taxamount                         0
logerror                          0
transactiondate                   0
propertylandusedesc               0
county_code_bin                   0
county_code_bin_Orange County     0
county_code_bin_Ventura County    0
home_sizes                        0
total_rooms                       0
bedroom_bins                      0
bathroom_bins                     0
dtype: int64